
:root {
  --TextColor: #212121;
  --secondaryTextColor: #566573;
  --accentColor: #e73838;
  --bgColor: #fff5ee;
}

body {
margin: 0;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  color: var(--TextColor);
  padding-top: 30px;
  padding-bottom: 30px;
  background: url('./img/contack__book.jpg') no-repeat;
  background-size: cover;
}

img {
  display: inline-block;
  width: 100vw;
  height: auto;
  object-fit: cover;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  margin-top: 0px;
  margin-bottom: 0px;
}